#include "Menu.h"

Menu MENU {
    POPUP "&File" {
        MENUITEM "&Open",       IDM_FILE_OPEN
        MENUITEM SEPARATOR
        MENUITEM "E&xit",       IDM_FILE_EXIT
    }

    POPUP "&Format" {
        MENUITEM "&Word wrap",  IDM_FORMAT_WRAP
    }
}
